<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" th:method="post">

    <label for="name">Name</label>
    <input type="text" th:field="*{firstname}" id="name" placeholder="Name">
    <br>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{lastname}" id="surname" placeholder="Surname">
    <br>
    <br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br>
    <br>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
    <br>
    <br>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Paswword">
    <br>
    <br>
    <input type="submit" value="Create user">
</form>
<br><br>
<form th:action="@{/logout}">
    <input type="submit" value="Log Out">
</form>
</body>
</html>